page-confirmation {
  ion-thumbnail {
    margin: 0 1rem 0 0 !important;
  }
  h2 {
    font-weight: bold !important;
  }
  ion-note {
    color: black !important;
  }
  ion-item-divider{
      font-size: 1.3em!important;
  }
}

