page-status {
    .light{
        background-color: color($colors, light);
    }

    ion-card {
        border-radius: 10px !important;
    }

    .star {
        font-size: 0.8em;
        color: #808080
    }
}
