
<ion-menu id="loggedInMenu" [content]="content">
  <ion-content class="bg">
    <div class="wrapper">
      <header tappable class="header2" (click)="profilePage()">
        <img src="assets/imgs/user.png" class="img-sidebar" />
        <h6>Farhan Ramli</h6>
        <p class="p">user@gmail.com</p>
      </header>
    </div>
    <ion-list class="btnside">
      <div *ngIf="isAgent()">
        <button class="button-menu btnside" large menuClose icon-left ion-item *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon name="{{p.icon}}" class="label"></ion-icon>
          {{p.title}}
        </button>
      </div>
      <div *ngIf="!isAgent()">
        <button class="button-menu btnside" large menuClose icon-left ion-item *ngFor="let p of pagesCustomer" (click)="openPage(p)">
          <ion-icon name="{{p.icon}}" class="label"></ion-icon>
          {{p.title}}
        </button>
      </div>
      <button class="button-menu btnside" large menuClose icon-left ion-item (click)="logout()">
        <ion-icon name="power" class="label"></ion-icon>
        Logout
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-menu id="loggedOutMenu" [content]="content">
  <ion-content class="bg">
    <ion-list class="btnside">
      <!-- <button class="button-menu btnside" large menuClose icon-left ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name="{{p.icon}}" class="label"></ion-icon>
        {{p.title}}
      </button> -->
      <button class="button-menu btnside" large menuClose icon-left ion-item (click)="logout()">
        <ion-icon name="power" class="label"></ion-icon>
        Login
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
