<ion-header>
    <ion-navbar>
      <ion-title>Details</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-item-divider color="light">
        <strong>Agent</strong>
        <button *ngIf="showCancelButton()" ion-button icon-left round color="danger" item-end (click)="rejectCancelDelivery('cancel')">
          <ion-icon name="close"></ion-icon> Cancel order</button>
          <button *ngIf="showAcceptButton()" ion-button icon-left round color="danger" item-end (click)="rejectCancelDelivery('reject')">
              <ion-icon name="thumbs-down"></ion-icon> Reject</button>
          <button *ngIf="showAcceptButton()" ion-button icon-left round color="secondary" item-end (click)="acceptDelivery()">
            <ion-icon name="thumbs-up"></ion-icon> Accept delivery</button>
            <div *ngIf="showWaitingResponse()" item-end>
                <h4 ion-text>Pending Agent's Response</h4>
            </div>
      </ion-item-divider>
      <ion-item *ngIf="agentAvailable()">
        <ion-avatar item-start>
          <img [src]="getProfileImage(job.agent[0].url_image)||'assets/imgs/user.png'">
        </ion-avatar>
  
        <h2>{{job.agent[0].name}}</h2>
        <div *ngIf="!isJobComplete()">
          <button ion-button icon-left round outline color="danger" item-start (click)="call()">
            <ion-icon name="phone-portrait"></ion-icon>Call</button>
          <button ion-button icon-left round outline color="danger" item-start (click)="wa()">
            <ion-icon name="chatbubbles"></ion-icon>Chat</button>
        </div>  
        <div *ngIf="isJobComplete()">
          <p>You have accepted the delivery</p>
        </div>  
      </ion-item>
      <ion-item *ngIf="!agentAvailable()">
        No agent accepts the job request yet.
      </ion-item>
      <ion-item-divider color="light">
        <strong>Products</strong>
      </ion-item-divider>
      <ion-item no-padding *ngFor="let product of job.orders">
        <ion-thumbnail item-start>
          <img [src]="getProductImage(product.ImageURL)||'assets/imgs/logo.png'">
        </ion-thumbnail>
        <h2>{{product.Name}} x {{product.ProductQuantity}}</h2>
        <h4>RM{{product.price}}</h4>
      </ion-item>
      
    </ion-list>
    <ion-item-divider color="light">
      <strong>Timeline</strong>
    </ion-item-divider>
    <ul class="timeline">
      <li *ngFor="let order of timeline">
        <div class="timeline-thumb bg-color-blue timeline-icon">
        </div>
        <div class="timeline-item">
          <h5>{{order.job_status}}</h5>
          <span class="color-gray"><ion-icon name="timer"></ion-icon> {{order.created_at}}</span>
          <div class="timeline-stats">
          </div>
        </div>
      </li>
    </ul>
  
  </ion-content>