page-profile {
    .img {
        border-radius: 50%;
        max-width: 120px;
        border:1px solid white;
        //-webkit-border-radius: 500px;
        //-moz-border-radius: 500px;
    }
    h3 {
        font-size: 1.5em;
        margin-bottom: -10px !important;
    }

    .item-content{
        color: #505050;
    }
}
