<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <header class="wrapper-text">
      <div align="center">
        <div tappable (click)="getImage()" [ngStyle]="{'background-image': 'url(' + userImage + ')', 'background-size':'cover', 'border-radius': '50%', 'width': '120px', 'height': '120px', 'border':'1px solid white'}"></div>
      </div>
      <!-- <img tappable (click)="getImage()" [src]="userImage" class="img" /> -->
      <h3>{{currentUser.name}}</h3>
      <p>{{currentUser.email}}</p>
    </header>
  </div>
  <ion-list>

    <ion-item-divider color="light">
      <strong>Personal Details</strong>
    </ion-item-divider>

    <ion-item>
      <ion-label fixed>Name</ion-label>
      <div class="item-content" item-content>
        <ion-input type="text" [(ngModel)]="user.name"></ion-input>
      </div>
    </ion-item>

    <ion-item>
      <ion-label fixed>IC No.</ion-label>
      <div item-content class="item-content">
        <ion-input type="text" [(ngModel)]="user.icnumber"></ion-input>
      </div>
    </ion-item>

    <ion-item>
      <ion-label fixed>Phone No.</ion-label>
      <div item-content class="item-content">
        <ion-input type="text" [(ngModel)]="user.u_phone"></ion-input>
      </div>
    </ion-item>

    <ion-item text-wrap>
      <ion-label fixed>Address</ion-label>
      <div item-content class="item-content">
        <ion-textarea rows="4" type="text" [(ngModel)]="user.u_address"></ion-textarea>
      </div>
    </ion-item>

    <div *ngIf="isAgent()">
      <ion-item-divider color="light">
        <strong>Bank Details</strong>
      </ion-item-divider>

      <ion-item>
        <ion-label fixed>Bank Name</ion-label>
        <div item-content class="item-content">
          <ion-input type="text" [(ngModel)]="user.u_bankname"></ion-input>
        </div>
      </ion-item>

      <ion-item fixed>
        <ion-label>Account No.</ion-label>
        <div item-content class="item-content">
          <ion-input type="text" [(ngModel)]="user.u_accnumber"></ion-input>
        </div>
      </ion-item>

      <ion-item-divider color="light">
        <strong>Store Details</strong>
      </ion-item-divider>
      <ion-item>
        <ion-label fixed>Enable Store</ion-label>
        <ion-toggle [(ngModel)]="user.availability"></ion-toggle>
      </ion-item>
      <div *ngIf="showStore()">
        <ion-item text-wrap>
          <ion-label fixed>Store Address</ion-label>
          <div item-content class="item-content">
            <ion-textarea rows="5" type="text" [(ngModel)]="user.store_location.store_address"></ion-textarea>
          </div>
        </ion-item>
        <ion-item>
          <ion-label fixed>Postcode</ion-label>
          <div item-content class="item-content">
            <ion-input type="text" [(ngModel)]="user.store_location.store_postcode"></ion-input>
          </div>
        </ion-item>
        <ion-item>
          <ion-label fixed>City</ion-label>
          <div item-content class="item-content">
            <ion-input type="text" [(ngModel)]="user.store_location.store_city"></ion-input>
          </div>
        </ion-item>
        <ion-item>
          <ion-label>State</ion-label>
          <ion-select [(ngModel)]="user.store_location.store_state" placeholder="Please select">
            <ion-option value="Kuala Lumpur">Kuala Lumpur</ion-option>
            <ion-option value="Selangor">Selangor</ion-option>
            <ion-option value="Putrajaya">Putrajaya</ion-option>
            <ion-option value="Pahang">Pahang</ion-option>
            <ion-option value="Terengganu">Terengganu</ion-option>
            <ion-option value="Kelantan">Kelantan</ion-option>
            <ion-option value="Kedah">Kedah</ion-option>
            <ion-option value="Pulau Pinang">Pulau Pinang</ion-option>
            <ion-option value="Perlis">Perlis</ion-option>
            <ion-option value="Negeri Sembilan">Negeri Sembilan</ion-option>
            <ion-option value="Melaka">Melaka</ion-option>
            <ion-option value="Johor">Johor</ion-option>
            <ion-option value="Perak">Perak</ion-option>
            <ion-option value="Sabah">Sabah</ion-option>
            <ion-option value="Sarawak">Sarawak</ion-option>
            <ion-option value="Labuan">Labuan</ion-option>
          </ion-select>
        </ion-item>
      </div>
    </div>

    <ion-item-divider color="light">
      <strong>Account Details</strong>
    </ion-item-divider>
    <ion-item>
      <ion-label>Email</ion-label>
      <div item-content class="item-content">{{user.email}}</div>
    </ion-item>
    <ion-item tappable (click)="changePassword()">
      <ion-label>Password</ion-label>
      <div item-content class="item-content">
        <em>Tap to change</em>
      </div>
    </ion-item>
  </ion-list>

</ion-content>
<ion-footer>
  <ion-toolbar color="secondary">
    <button small color="light" ion-button clear block (click)="submitProfile()">Save</button>
  </ion-toolbar>
</ion-footer>
