<!--
  Generated template for the TransactionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Transactions</ion-title>
        <ion-buttons end *ngIf="enableWithdrawButton()">
          <button clear ion-button (click)="withdraw()">Withdraw</button>
        </ion-buttons>
      </ion-navbar>

</ion-header>


<ion-content class="trans-bg">
  <div>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/imgs/user.png">
        </ion-avatar>
        <h1>${{walletInfo.amount}}</h1>
        <p><strong>Available for withdrawal: ${{availWithdraw(walletInfo.amount)}}</strong></p>
        <p><strong>Pending approval: ${{walletInfo.pending_approval}}</strong></p>
      </ion-item>
    </ion-list>
  </ion-card>
</div>
  <ion-list>
    <ion-item-divider>
      <b>Everything</b>
    </ion-item-divider>
    <ion-item *ngFor="let trans of transactions">
      <h3>{{trans.message}}</h3>
      <p>{{trans.created_at}}</p>
      <div class="item-content" item-content><h2>{{showDebit(trans.status) ? '(' : ''}}${{convertAmount(trans.amount)}}{{showDebit(trans.status) ? ')' : ''}}</h2></div>
    </ion-item>
  </ion-list>
</ion-content>