page-transactions {
  .item-content {
    font-size: 0.8em !important;
  }
  .trans-bg {
    background-color: color($colors, light);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

