<!--
  Generated template for the OrdersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Orders</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-bottom>
    <ion-segment color="light" [(ngModel)]="status">
      <ion-segment-button value="active">
        Active
      </ion-segment-button>
      <ion-segment-button value="completed">
        Completed
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="status">
    <ion-list *ngSwitchCase="'active'">
      <button ion-item *ngFor="let job of activeJobs" (click)="pageDetails(job)">
        <ion-avatar item-start>
          <img [src]="getImage(job.ImageURL)||'assets/imgs/user.png'">
        </ion-avatar>
        <h2>{{job.c_name}}</h2>
        <h4>Order #{{job.JobID}}</h4>
        <p>
          <ion-icon name="pin" icon-left></ion-icon> {{job.c_address}}</p>
        <ion-note item-end>${{job.total_price}}</ion-note>
      </button>
      <!-- <button ion-item>
        <ion-avatar item-start>
          <img src="assets/imgs/user.png">
        </ion-avatar>
        <h2>Farhan Ramli</h2>
        <h4>Order #2312</h4>
        <p>
          <ion-icon name="pin" icon-left></ion-icon> 39-1 Jalan Equine 9A, Equine Park, Seri Kembangan</p>
        <ion-note item-end>RM500</ion-note>
      </button> -->
    </ion-list>
    <ion-list *ngSwitchCase="'completed'">
      <button ion-item *ngFor="let job of completedJobs" (click)="pageDetails(job)">
        <ion-avatar item-start>
          <img src="assets/imgs/user.png">
        </ion-avatar>
        <h2>{{job.c_name}}</h2>
        <h4>Order #{{job.JobID}}</h4>
        <p><ion-icon name="pin" icon-left></ion-icon> {{job.c_address}}</p>
        <ion-note item-end>${{job.total_price}}</ion-note>
      </button>
    </ion-list>
  </div>
</ion-content>