<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cart</ion-title>
    <ion-buttons end>
      <button ion-button (click)="updateCart()">Update</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <!-- <ion-item-divider no-lines>
        </ion-item-divider> -->
    <ion-item no-padding *ngFor="let item of itemInCart; let i = index">
      <ion-thumbnail item-start>
        <img [src]="getPath(item.ImageURL)">
      </ion-thumbnail>
      <h2>{{item.Name}}</h2>
      <h4>RM{{item.Price}}</h4>
      <div item-content>
        <button small ion-button icon-only (click)="subtractQuantity(i)">
          <ion-icon name="remove"></ion-icon>
        </button>
        <button large color="dark" clear ion-button icon-only>{{getQuantity(i)}}</button>
        <button small ion-button icon-only (click)="addQuantity(i)">
          <ion-icon name="add"></ion-icon>
        </button>
      </div>
    </ion-item>
    <!-- <ion-item no-padding>
      <ion-thumbnail item-start>
        <img src="assets/imgs/logo.png">
      </ion-thumbnail>
      <h2>Night Cream</h2>
      <h4>RM300</h4>
      <div item-content>
        <button small ion-button icon-only (click)="subtractQuantity(2)">
          <ion-icon name="remove"></ion-icon>
        </button>
        <button large color="dark" clear ion-button icon-only>{{num2}}</button>
        <button small ion-button icon-only (click)="addQuantity(2)">
          <ion-icon name="add"></ion-icon>
        </button>
      </div>
    </ion-item> -->
    <ion-item no-lines *ngIf="!emptyCart()">
      <ion-note item-end>
        <strong>Total: RM{{getTotal()}}</strong>
      </ion-note>
    </ion-item>
  </ion-list>

  <div align="center" padding *ngIf="emptyCart()"><h5>Your cart is empty</h5></div>

  <ion-footer>
    <ion-toolbar color="secondary">
      <button small color="light" ion-button clear block (click)="confirmationPage()">Checkout</button>
    </ion-toolbar>
  </ion-footer>
</ion-content>